<div fxLayout="row" fxLayoutAlign="space-around start" class="container-top">
    <div fxFlex="60%">
        <button mat-raised-button color="primary" (click)="angi()">Ăn gì nà</button>
        <!-- <form [formGroup]="addValueForm" (ngSubmit)="angi()">
            <mat-card>
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <mat-card-actions fxLayout="column">
                        <button mat-raised-button color="primary" type="submit">
                            Submit
                        </button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form> -->
    </div>
</div>